# IF

In [2]:
print ("--IF berarti jika maka--")
a=76
if a >=75:
    print("Kamu kompeten")
else:
    print("Kamu belum kompeten")

print ("\n--penggunaan IF----")
n=10
if n ==1:
    print ("Nilai sama")
else:
    print ("Tidak sama")

--IF berarti jika maka--
Kamu kompeten

--penggunaan IF----
Tidak sama

# IfElse

In [3]:
print("---Selain itu/Lawan dari If---")
print("--Contoh 1, Kompeten dan Belum Kompeten--")
a=72
if a>=75:
    print("Kamu Kompeten")
else:
    print("Kamu Belum Kompeten")
print()


print("--Contoh 2, Benar Salah--")
b=0
if b ==1:
    print("Benar")
if b ==0:
    print("Salah")
print()


print("--Contoh 3, Ganjil Genap--")
c = 1
if c%2 ==0:
    print("Genap")
else:
    print("Ganjil")
print()


print("--Contoh 4, Negatif, Nol, dan Bulat--")
e = 3
if e<0:
    print("Negatif")
else:
    print("Positif")

d = 100
if d <0:
    print("Negatif")
if d ==0:
    print("Nol")
if d>0:
    print("Positif")
print()


print("--Contoh 5, Libur dan Masuk--")
hari = "merah"
if hari == "merah":
    print("Libur")
else:
    print("Masuk")

---Selain itu/Lawan dari If---
--Contoh 1, Kompeten dan Belum Kompeten--
Kamu Belum Kompeten

--Contoh 2, Benar Salah--
Salah

--Contoh 3, Ganjil Genap--
Ganjil

--Contoh 4, Negatif, Nol, dan Bulat--
Positif
Positif

--Contoh 5, Libur dan Masuk--
Libur

# Elif

In [4]:
print("--selain itu jika--")

print("--contoh 1, negatif, nol dan bulat menggunakan elif--")

d=0
if d <0:
    print("Negatif")
elif d >0:
    print("Positif")
else:
    print("Nol")
print()


print("--Contoh 2, K, BK, Pas--")
nilai=75
if nilai >=75:
    print("Kompeten")
elif nilai <75:
    print("Belum Kompeten")
else:
    print("Pas")
print()


print("--Contoh 3, Nilai A, B, C, D")
n = 100
if n >=80: #80-100
    print("A")
elif n >=75: #75-79
    print("B")
elif n >=70: #70-74
    print("C")
else: #<=69
    print("D")

--selain itu jika--
--contoh 1, negatif, nol dan bulat menggunakan elif--
Nol

--Contoh 2, K, BK, Pas--
Kompeten

--Contoh 3, Nilai A, B, C, D
A

# KOMENTAR

In [5]:
#cetak pada python
print ("selamat datang") #cetak selamat datang
#tanda pagar menandakan penggunaan komentar pada pyhton 
#kita bisa membedakan penggunaan komentar pada setiap bahasa pemograman

"""kutip 3 pada komentar"""

print("python")

selamat datang
python

# LOOPING

In [6]:
print ("---------FOR---------")

for a in[1,2,3]:
    print(a)

print ("---------WHILE---------")
b = 1
while b<10:
    print(b)
    b+=1

---------FOR---------
1
2
3
---------WHILE---------
1
2
3
4
5
6
7
8
9

# NILAI

In [7]:
print("--Contoh 3, Nilai A, B, C, D--")
n==55
if n > 80: #80-100
    print("A")
elif n >= 75: #75-79
    print("B")
elif n >=70: #70-74
    print("C")
else: #<=69
    print("D")

--Contoh 3, Nilai A, B, C, D--
A

# NILAI 2

In [10]:
nil = int(input("Masukan Nilai: "))
if nil >=80:
    print("A")
else:
    print("B")

Masukan Nilai: 77
B

# OPERATOR

In [11]:
print("--Operator Aritmatika")
print("Tambah  (+)", 10+2)
print("Kurang  (-)", 14-1)
print("Kali    (*)", 12*2)
print("Pangkat (**)", 2**2)
print("Bagi    (/)", 8/5)
print("Mod     (%)", 6%2)
print()

print("--Operator Pembanding")
print("Sama Dengan             (==)")
print("Lebih Besar             (>)")
print("Lebih Kecil             (<)")
print("Lebih Besar Sama Dengan (>=)")
print("Lebih Kecil Sama Dengan (<=)")
print("Tidak Sama Dengan       (!=)")
print()

print("--Operator Logika")
print("Not (not = Bukan)")
print("And (and = Semua Kondisi Terpenuhi)")
print("Or  (or  = Salah Satu Kondisi Terpenuhi)")

--Operator Aritmatika
Tambah  (+) 12
Kurang  (-) 13
Kali    (*) 24
Pangkat (**) 4
Bagi    (/) 1.6
Mod     (%) 0

--Operator Pembanding
Sama Dengan             (==)
Lebih Besar             (>)
Lebih Kecil             (<)
Lebih Besar Sama Dengan (>=)
Lebih Kecil Sama Dengan (<=)
Tidak Sama Dengan       (!=)

--Operator Logika
Not (not = Bukan)
And (and = Semua Kondisi Terpenuhi)
Or  (or  = Salah Satu Kondisi Terpenuhi)

# PRINT

In [12]:
print ("Selamat Datang")
print ("Belajar Bahasa Pemrograman Python")

print ("Hello World!")

Selamat Datang
Belajar Bahasa Pemrograman Python
Hello World!

# PRINT 2

In [13]:
print('Selamat Datang')
print("Selamat Datang")
print('Selamat Datang')
print("Selamat Datang")
print('Selamat Datang')
print("Selamat Datang")
print('Selamat Datang')
print("Selamat Datang")

Selamat Datang
Selamat Datang
Selamat Datang
Selamat Datang
Selamat Datang
Selamat Datang
Selamat Datang
Selamat Datang

# TYPEDATA

In [21]:
#BELAJAR PYTHON
"""Belajar Python"""

a = 1
b = 2
c = "Selamat Datang di"
d = "SMK Wikrama"
e = "Bogor"

#Selamat Datang di SMK Wikrama Bogor
print(c, d, b, e)

#Hasil dari 1+2=3
print("Hasil dari %d + %d = " %(a, b), a+b)

Selamat Datang di SMK Wikrama 2 Bogor
Hasil dari 1 + 2 =  3

# VARIABLE

In [22]:
#OPERATOR ARITMATIKA
a = 7
b = 2
print(a+b) #Hasilnya 9
print(a*b) #Hasilnya 14
print(a-b) #Hasilnya 5
print(a/b) #Hasilnya 3.5
print(a%b) #Hasilnya 1
print(a**b) #Hasilnya 49

9
14
5
3.5
1
49

# RUMUS BANGUN DATAR DAN BANGUN RUANG

#

# BANGUN DATAR
# -- Belah Ketupat --

In [24]:
d1 = int(input("diameter 1: "))
d2 = int(input("diameter 2: "))
sisi = int(input("sisi :"))

luas = (d1*d2) / 2
keliling = sisi * 4

print("luas :", luas)
print("keliling :", keliling)

diameter 1: 8
diameter 2: 5
sisi :10
luas : 20.0
keliling : 40

# DUA BILANGAN

In [25]:
bil1 = int(input("Masukan Angka Pertama: "))
bil2 = int(input("Masukan Angka Kedua  : "))

jumlah = float(bil1) + float(bil2)

print("Jumlah {0}+{1} adalah {2}" .format(bil1, bil2, jumlah))

Masukan Angka Pertama: 5
Masukan Angka Kedua  : 2
Jumlah 5+2 adalah 7.0

# JAJAR GENJANG

In [26]:
panjang = int(input("Panjang : "))
lebar = int(input("Lebar   : "))
tinggi = int(input("Tinggi  : "))

luas = lebar * tinggi
keliling = (2*panjang) + (2*lebar)

print("Luas     =", luas)
print("Keliling =", keliling)

Panjang : 8
Lebar   : 2
Tinggi  : 5
Luas     = 10
Keliling = 20

# LAYANG - LAYANG

In [27]:
panjang = int(input("Panjang    : "))
lebar = int(input("Lebar      : "))
d1 = int(input("Diameter 1 : "))
d2 = int(input("Diameter 2 : "))

luas = (d1*d2) / 2
keliling = (2*panjang) + (2*lebar)

print("Luas       = ", luas)
print("Keliling   = ", keliling)

Panjang    : 2
Lebar      : 10
Diameter 1 : 14
Diameter 2 : 7
Luas       =  49.0
Keliling   =  24

# LINGKARAN

In [28]:
jariJari = int(input("Jari-Jari : "))
diameter = int(input("Diameter  : "))

print("Luas      =", (3.14*jariJari)**2)
print("Keliling  =", 2*3.14*jariJari)

Jari-Jari : 7
Diameter  : 14
Luas      = 483.1204
Keliling  = 43.96

# PERSEGI

In [29]:
sisi = int(input("Masukan Sisi : "))

luas = sisi * sisi
keliling = sisi * 4

print("Luas         =", luas)
print("Keliling     =", keliling)

Masukan Sisi : 90
Luas         = 8100
Keliling     = 360

# PERSEGI PANJANG

In [30]:
panjang = int(input("Panjang  : "))
lebar = int(input("Lebar    : "))

luas = panjang * lebar
keliling = (2*panjang) + (2*lebar)

print("Luas     =", luas)
print("Keliling =", keliling)

Panjang  : 8
Lebar    : 91
Luas     = 728
Keliling = 198

# SEGITIGA

In [31]:
alas = int(input("Alas   : "))
tinggi = int(input("Tinggi : "))
lebar = int(input("Lebar  : "))

keliling = alas+tinggi+lebar
luas = (alas*tinggi)/2

print("Luas Segitiga Adalah     : ", luas)
print("Keliling Segitiga Adalah : ", keliling)

Alas   : 12
Tinggi : 6
Lebar  : 2
Luas Segitiga Adalah     :  36.0
Keliling Segitiga Adalah :  20

# TRAPESIUM

In [32]:
sisi1 = int(input("Sisi 1   : "))
sisi2 = int(input("Sisi 2   : "))
sisi3 = int(input("Sisi 3   : "))
tinggi = int(input("Tinggi   : "))

luas = (sisi1+sisi2) * tinggi / 2
keliling = sisi1+sisi2+sisi3+tinggi

print("Luas     = ", luas)
print("Keliling =", keliling)

Sisi 1   : 4
Sisi 2   : 3
Sisi 3   : 3
Tinggi   : 3
Luas     =  10.5
Keliling = 13

# BANGUN RUANG
# -- BALOK --

In [33]:
panjang = int(input("Panjang : "))
lebar = int(input("Lebar   : "))
tinggi = int(input("Tinggi  : "))

luas = 2 * (panjang*lebar + panjang*tinggi + lebar*tinggi)
volume = panjang * lebar * tinggi

print("Luas    =", luas)
print("Volume  =", volume)

Panjang : 65
Lebar   : 2
Tinggi  : 1
Luas    = 394
Volume  = 130

# KUBUS

In [34]:
rusuk = int(input("Rusuk  : "))

print("Luas   =", 6 * (rusuk**2))
print("Volume =", rusuk * rusuk * rusuk)

Rusuk  : 34
Luas   = 6936
Volume = 39304